In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
A database is a structured collection of data that is organized and stored for efficient retrieval, management, and manipulation.
SQL is  Structured Query Language and NoSQL is Not Only SQL are two broad categories of database management systems (DBMS) that differ in
their data models, architectures, and usage.
SQL databases use a structured, tabular format to store data. The data is organized into tables with predefined schemas, where each row 
represents a record, and each column represents a field of the record.
NoSQL databases use a variety of data models to store and retrieve data, including key-value, document, column-family, and graph models.
These databases are designed to handle large amounts of unstructured or semi-structured data and can be more flexible in terms of schema 
evolution.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL stands for "Data Definition Language," which is a subset of SQL (Structured Query Language) used to define and manage the structure 
of a database and its objects. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and 
constraints.
CREATE:
The CREATE statement is used to create new database objects, such as tables, indexes, or views.

Example: Creating a table named "Employees" with columns for employee information
DROP:
The DROP statement is used to remove existing database objects, such as tables or indexes. This operation permanently deletes the object and its data from the database.

Example: Dropping the "Employees" table.
ALTER:
The ALTER statement is used to modify the structure of an existing database object, such as adding, modifying, or deleting columns in a table.

Example: Adding a new column "Salary" to the "Employees" table
TRUNCATE:
The TRUNCATE statement is used to remove all the data from a table, but it retains the table structure and associated indexes. TRUNCATE is faster than DELETE for removing all records from a table.

Example: Truncating the "Employees" table to remove all employee records

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML stands for "Data Manipulation Language," which is a subset of SQL (Structured Query Language) used to manipulate data stored in a 
database. DML statements allow you to insert, update, and delete data within tables.
INSERT:
The INSERT statement is used to add new records (rows) to a table.

Example: Inserting a new employee record into the "Employees" table.
UPDATE:
The UPDATE statement is used to modify existing records in a table.

Example: Updating the salary of an employee with the EmployeeID 101.
DELETE:
The DELETE statement is used to remove records from a table.

Example: Deleting an employee record with the EmployeeID 101.

In [ ]:
Q4. What is DQL? Explain SELECT with an example

In [ ]:
DQL stands for "Data Query Language," which is a subset of SQL (Structured Query Language) used to retrieve and query data from a database.
The primary DQL statement is the SELECT statement, which allows you to retrieve specific data from one or more tables based on specified 
conditions and criteria.
SELECT:
The SELECT statement is used to retrieve data from one or more tables. It allows you to specify the columns you want to retrieve, the table 
or tables from which to retrieve data, and optional conditions to filter the results.

SELECT FirstName, LastName
FROM Employees
WHERE Department = 'Sales';

In [ ]:
Q5.Explain Primary Key and Foreign Key.

In [ ]:
Primary Key:
A primary key is a field or combination of fields in a database table that uniquely identifies each record (row) in that table. 
It serves as a way to ensure data integrity, enforce uniqueness, and establish relationships between tables. A primary key constraint
ensures that the values in the primary key column(s) are unique and not null.
Foreign Key:
A foreign key is a field in a database table that establishes a link between the data in two tables. It creates a relationship between the 
tables based on the values of the foreign key column and the corresponding primary key column in another table. Foreign keys are used to 
maintain referential integrity, ensuring that the relationships between records in different tables remain consistent.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(
    host="Local User",
    user ="abc",
    password="password"
)
mycursor=mydb.cursor()
mycursor.execute("SHOW DATAVASES")

The cursor() method creates a cursor instance, which you can use to interact with the database. The execute() method is used to execute SQL 
queries using the cursor. You pass the SQL query string to the execute() method, and it performs the query on the connected database

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
SELECT FirstName, LastName
FROM Employees
WHERE Department = 'Sales'
ORDER BY LastName ASC
LIMIT 10;

SELECT: Columns "FirstName" and "LastName" are selected.
FROM: Data is retrieved from the "Employees" table.
WHERE: Only rows where the "Department" column is 'Sales' are included.
ORDER BY: The result set is sorted by the "LastName" column in ascending order.
LIMIT: Only the first 10 rows are returned in the final result set.